@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$sidebar-bg-color: rgba(50,50,50,1);
$sidebar-color: rgba(200,200,200,1);
$sidebar-width: 210px;
$sidebar-collapsed-width: 75px;
$highlight-color: #d8d8d8;
$submenu-bg-color: rgba(0,0,0,0.40);
$submenu-bg-color-collapsed: rgba(0,0,0,0.70);
$icon-bg-color: rgba(255, 255, 255, 0.00);
$icon-size: 30px;
$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@import '~react-pro-sidebar/dist/scss/styles.scss';

